body {
    background-color: black;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.schedule {
    display: grid;
    grid-template-columns: 0fr 2fr;
}