.programs-list {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    max-height: 430px;
    width: 80vw;
    max-width: 80vw;
    position: relative;
    &::-webkit-scrollbar {
        display: none;
    }

    .time-line {
        position: absolute;
        z-index: 1;
        width: 10px;
        height: 100vh;
        background-color: red;
    }

    .programs-horizontal {
        display: flex;
        width: fit-content;

        .program {
            border-right: solid;
            height: 80px;
            max-height: 80px;
        
            h1, h2 {
                text-align: center;
                font-size: 1rem;
            }
        }
    }
}