.right-column {
    width: 80vw;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    position: relative;
    

    .watch-now {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: black;
        outline: none;
        z-index: 1;
        border: 2px solid #BC6FF1;
        position: absolute;
        bottom: 0;
        cursor: pointer;
    }


    .right-arrow, .left-arrow {
        cursor: pointer;
        display: flex;
        margin: auto;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        outline: none;
        padding: 0;
        border: none;
        background-color: black;

        img {
            margin: auto;
            width: 50px;
            height: 50px;
        }
    }

    .left-arrow {
        margin-right: 20px;
    }

    .programs {
        display: flex;
        flex-direction: column;
        width: 1064px;
        max-width: 1064px;
        max-height: 450px;
        overflow: hidden;
        
        position: relative;

        .time-line {
            position: absolute;
            z-index: 1;
            width: 5px;
            height: 100vh;
            background-color: #BC6FF1;
        }

        .programs-list {
            width: fit-content;
            overflow: hidden;
            max-height: 400px;

            .programs-horizontal {
                display: flex;
                width: fit-content;

                .program {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    background-color: #52057B;
                    border: 1px solid #52057B;
                    height: 78px;
                    max-height: 80px;
                    color: #D8E3E7;
                
                    h1 {
                        text-align: center;
                        font-size: 1rem;
                        margin-bottom: 0;
                    }

                    h2 {
                        text-align: center;
                        font-size: 0.5rem;
                        font-weight: normal;
                        margin-top: 0;
                    }

                    &:hover {
                        cursor: pointer;
                        box-shadow: 4px 3px 12px 1px rgba(0,0,0,0.65);
                        border: 1px solid #BC6FF1;
                        color: white;
                    }
                }
            }
        }
    }
}