.left-column {
    background-color: black;

    .channels-list {
        overflow: hidden;
        max-height: 400px; 
    }

    .up-arrow, .down-arrow {
        cursor: pointer;
        display: flex;
        margin: auto;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        outline: none;
        padding: 0;
        border: none;
        background-color: black;

        img {
            margin: auto;
            width: 50px;
            height: 50px;
        }
    }

    .channel {
        display: flex;
        width: 50px;
        height: 50px;
        margin: 15px auto;
    }
}